// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.movie_thumbnail {
    height:275px;
    padding:15px;
    border:2px solid gray;
}
